/* Tambahkan kode CSS kalian di file ini */
body {
    background-color: rgb(36, 24, 34);
    color: #FFFFFF;
}

#video-background {
    position: relative;
}

video {
    position: absolute;
}

#submit-form-button {
    background-color: greenyellow;
}


